form {
    width: 350px;
    height: 350px;
    border-radius: 1%;
    background: rgb(222, 209, 241);
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
}

input {
    width: 280px;
    height: 20px;
    margin: 15px;
    padding: 15px;
}

div {
    width: 300px;
    height: 125px;
    margin: 15px;
    padding: 10px;
    background: rgb(210, 225, 236);
}

button {
    width: 300px;
    height: 55px;
    margin: 15px;
    padding: 10px;
    font-size: 16px;
    color: rgb(107, 143, 243);
}